.dashboard {
    min-height: 100vh;
    background-color: #f9f9f9;
}

/* Progress */

/* main progress */
.custom-progress {
    width: 100%;
    height: 9px;
    background-color: rgb( 214 , 212 , 212 );
    border-radius: 10px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* running progress */
.inner-progress{
    position: relative;
    background-color: #56b6ff;
    width: 50%;
    height: 100%;
    display: block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .3s;
    -webkit-transition: 10px;
    -moz-transition: 10px;
    -ms-transition: 10px;
    -o-webkit-transition: 10px;
}

/* to add percent */
.inner-progress::after {
    content: attr(percent);
    position: absolute;

    top: -25px;
    right: 0px;
    background-color: rgb(111, 108, 108);
    color: white;
    width: 30px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
}


td {
    width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    height: 50px;
}
.p-2 {
    background-color: white;
}
.div.w-100.p-2.shadow-sm {
    width: 100px !important;
}
