@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w508e0');
  src:  url('fonts/icomoon.eot?w508e0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w508e0') format('truetype'),
    url('fonts/icomoon.woff?w508e0') format('woff'),
    url('fonts/icomoon.svg?w508e0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
  content: "\e903";
  color: #25d366;
}
.icon-linkedin:before {
  content: "\e900";
  color: #0077b5;
}
.icon-facebook:before {
  content: "\e902";
  color: #1877f2;
}
