.blurr {
  filter: blur(2px);
}

.cat-btn {
  color: #444444;
  border: none;
  text-decoration: none;
}

.active {
  color: #BF2A2A;
}

.img11 {
  width: 100%;
  height: 100%;
}

.sublinks .active {
  background-color: #333333;
  color: #ffffff;
}

.course-div {
  box-shadow: 0px 0px 1px;
  /* width: 80%; */
  margin: auto;
  background-color: #ffffff;
}

.ln{
  color: #635F5F;
}

/* Props style */
.show {
  background: transparent;
}
.showw{
  background: black;
}

.transparent{
  background: transparent;
}
.background{
  background:  #2d2727;
}

.color-white{
  color: #FFFFFF;
}
.color-white.active {
  color: rgb(255, 82, 0);
}

.black{
  background-color: black;
}

/* .hv{
  height: 100px;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transform: .5s;
  -webkit-transform: .5s;
  -moz-transform: .5s;
  -ms-transform: .5s;
  -o-transform: .5s;
} */
/* .hv:hover{ */
  /* height: 110px; */

  /* border: 3px solid black; */
  /* zoom: 102%; */
  /* font-size: 25px; */
/* } */