.blurr {
  filter: blur(2px);
}

.cat-btn {
  color: #444444;
  border: none;
  text-decoration: none;
}

.active {
  color: #BF2A2A;
}

.img11 {
  width: 100%;
  height: 100%;
}

.course-div {
  box-shadow: 0px 0px 1px;
  /* width: 80%; */
  margin: auto;
  background-color: #ffffff;
}

.ln{
  color: #635F5F;
}

/* Props style */
.show {
  background: transparent;
}
.showw{
  background: black;
}

.transparent{
  background: transparent;
}
.background{
  background:  #2d2727;
}

.color-white{
  color: #FFFFFF;
}
.color-white.active {
  color: rgb(255, 82, 0);
}

.black{
  background-color: black;
}
.cat{
  border: 1px solid black;
  background-color: #2d2727;
  color: white;
  padding: 0px 10px;
  cursor: pointer;
  width: 200px;
  line-break: anywhere;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .5s;
}
.cat:hover{  
  border: 1px solid black;
  color: black;
  background-color: white;
}
.acctive{
  border: 1px solid black;
  color: black;
  background-color: white;
}



.component {
  text-align: center;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  /* width: 70%; */
}

.divcource {
  color: gray;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
  transition: .1s;
  -webkit-transition:.1s;
  -moz-transition:.1s;
  -ms-transition:.1s;
  -o-transition:.1s;
}

.divcource:hover {
  color: #2d2727;
  border-bottom: 3px solid black;
}
.active1 {
  color: #2d2727;
  border-bottom: 3px solid black;
}

.tab-content {
  margin-top: 10px;
  height: fit-content;
  font-size: 1.1rem;
  color: #333;
  display: flex;
}

@media (max-width: 600px) {
  .tabs {
    width: 100%;
  }
  .divcource {
    font-size: 10px;
  }}
