.spinner-container-submit{
    position: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(154, 160, 167 , .3);
    top: 0;
    z-index: 1;
}
.loader {
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    /* animation: roll 1s ease-in-out infinite alternate; */
  }
  .loader:after{
    /* content:""; */
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 5px solid ;
    /* border-color: #297fff transparent; */
  }
  @keyframes roll {
    0% {
      transform: translateX(-150%) rotate(0deg) ;
    }
    100% {
      transform:  translateX(150%) rotate(360deg);
    }
  }