.btn-hover svg {
  transition: 0.3s;
}

.btn-hover:hover svg {
  transform: rotate(269deg) !important;
}

.btn-hover:hover {
  color: black;
}
.sss {
  color: white !important;
}
.sss .active {
  color: red !important;
}

.button2:hover {
  background: transparent;
  color: black;
  border: 1px solid black;
}
.hv {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.hv:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.img1 {
  width: 90%;
  height: 90%;
}
.btn2 {
  color: white;
  background-color: black;
  transition: 0.2s;
}

.btn2:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

/* CAREERS */
.blur {
  filter: blur(6px);
}

.apply-btn {
  width: 150px;
  height: 50px;
}
.div-cover {
  height: 1200px;
}
.DropdownButton {
  background: transparent;
  border: 2px solid #277ec3;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.h50 {
  height: 50%;
}

.con {
  margin-bottom: 48px;
}

.sc-1,
.sc-2 {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.ticker-wrap {
  width: 100%;
  overflow: hidden;
}

.sc-1-track {
  transform: translateX(100%);
  display: inline-block;
  animation: scroll 30s linear infinite;
  animation-delay: 15s;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  -webkit-animation: scroll 30s linear infinite;
  -webkit-animation-delay: 15s;
}

.sc-2-track {
  display: inline-block;
  animation: scroll 30s linear infinite;
  -webkit-animation: scroll 30s linear infinite;
}
.sc-2-track > * {
  display: inline-block;
}

.sc-1 img,
.sc-2 img {
  width: 100px;
  height: 100px;
  margin-right: 30px; /* Spacing */
  flex-shrink: 0; /* Prevent shrinking */
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}

@media (max-width: 1070px) {
  .img1 {
    width: 100%;
    height: 100%;
  }
  .apply-btn {
    width: 100%;
  }
  .blur {
    filter: blur(4px);
  }
  .div-cover {
    height: 1400px;
  }
  .apply-h3 {
    font-size: 15px;
  }
}
@media (min-width: 1342px) and (max-width: 1965px) {
  .con {
    margin-bottom: 24px;
  }
}
@media (min-width: 1444px) and (max-width: 1658px) {
  .con {
    margin-bottom: 48px;
  }
}
@media (min-width: 1185px) and (max-width: 1196px) {
  .con {
    word-spacing: 1px;
  }
}
@media (min-width: 1077px) and (max-width: 1178px) {
  .con {
    margin-bottom: 72px;
  }
}
@media (min-width: 1031px) and (max-width: 1077px) {
  .con {
    margin-bottom: 72px;
  }
}
@media (min-width: 965px) and (max-width: 998px) {
  .con {
    margin-bottom: 75px;
  }
}
@media (min-width: 897px) and (max-width: 964px) {
  .con {
    margin-bottom: 24px;
  }
}
@media (min-width: 788px) and (max-width: 798px) {
  .con {
    word-spacing: 3px;
  }
}

@media (min-width: 1042px) {
  .ps {
    padding: 0 150px;
  }
}

.sh {
  color: black;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.sh:hover {
  color: #41a0ed;
}
